@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

img {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}


.titulo-blog {
    color: #1ed2ff
}

.descricao {
    color: white
}

p {
    margin: 0px;
    border: 2px solid black;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #1ed2ff;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 10%;
}

footer{
    color: #1ed2ff;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #1ed2ff
}