@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6FF;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-terciaria: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
    margin-left: 18%;
}

.cabecalho {
    padding: 2% 0% 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

img {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    border: 2px solid var(--cor-terciaria);
    margin-left: 10px;
}


.descricao {
    color: var(--cor-secundaria);
}


p {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--fonte-terciaria);
    font-weight: 500;
    font-size: 0.875rem;
}

a {
    display: flex;
    text-decoration: none;
    color: var(--cor-terciaria);
    text-align: center;
    align-items: center;
}

li a {
    display: flex;
    text-decoration: none;
    color: var(--cor-secundaria);
    text-align: center;
    align-items: center;
}

li a:hover {
    color: #22D4FD;
}

footer {
    background-color: var(--cor-terciaria);
    width: 80%;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 8%;
    gap: 82px;
}



.apresentacao__conteudo {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacao__conteudo__titulo {
    font-size: 1.875rem;
    font-family: var(--fonte-secundaria);
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--cor-terciaria);
}


.titulo-blog {
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto {
    font-size: 0.938rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}


.apresentacao__links {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: var(--fonte-primaria);
    font-size: 0.688rem;
}

.apresentacao__links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
}


button {
    display: flex;
    width: 378px;
    text-align: center;
    align-items: center;
    height: 35px;
    border-radius: 8px;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 0.813rem;
    padding: 21.5px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    font-weight: 800;
}

a img {
    width: 20px;
    height: 20px;
    border: 0;
    margin-right: 10px;
}

.minha-foto {
    margin-left: 50px;

}

button:hover {
    background-color: var(--cor-hover);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    justify-content: right;
}

.apresentacao__conteudo__titulo_curriculo {
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__texto__sobre {
    font-size: 0.938rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-weight: 400;
}

.apresentacao__conteudo__titulo_sobre {
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    color: var(--cor-terciaria);
}

.conteudo__sobre {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.minha-foto-curriculo {
    width: 420px;
    height: auto;
    margin-left: 50px;
}

.apresentacao__conteudo_curriculo {
    width: 615px;
    margin-left: 3%;
    margin-top: -4.3rem;
}

@media screen and (max-width: 900px) {
    
    .apresentacao {
        flex-direction: column;
        font-size: 6px;
        
    }


    .minha-foto {
        flex-direction: column-reverse;
    }

    .apresentacao__conteudo__texto__sobre {
        font-size: 12px;
        padding: 2rem;
    }
    .minha-foto {
        width: 45%;
        height: auto;
        margin-left: 30px;
    }

    button {
        width: 200px;
       
    }

    .apresentacao__conteudo__titulo {
        font-size: 14px;
        width: 100%;
        display: flex;
       text-align: center;
    }

    .cabecalho__menu {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .cabecalho__menu__link {
        font-size: 14px !important;

    }

    .cabecalho {
        display: flex;
        justify-content: center;
    }

    footer {
        width: 100%;
        padding: 2px;   
    }
}

